/* -----------------------------------------
  Footer
----------------------------------------- */

/* -----------------------------------------
  Login
----------------------------------------- */

/* -----------------------------------------
  NotFound
  NEEDS TO BE RESTYLED
----------------------------------------- */

/* -----------------------------------------
  Settings
----------------------------------------- */

/* -----------------------------------------
  Signup
----------------------------------------- */

/* -----------------------------------------
  SubmissionComment
----------------------------------------- */


/* Loading Animation */
.loader {
  display: block;
  margin: 0 auto;
  animation: rotate 2s linear  0s infinite running;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
