/* -----------------------------------------
  StudentDashboard
----------------------------------------- */
body {
  background-color: #f4f4f4 !important;
}

.studentDashboard {
  padding-bottom: 150px;
}

.eventsGrid {
  grid-column-start: 1fr;
  grid-row-start: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.assignmentsGrid {
  grid-column-start: 1fr;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.date {
  background-color: transparent;
  color: gray;
  font-size: 14px;
  text-align: left;
}

.inlineDate {
  display: inline;
  background-color: transparent;
  color: gray;
  font-size: 14px;
  text-align: left;
  margin-left: 10px;
}

/* -----------------------------------------
  StudentCohortDetails
----------------------------------------- */
.infoCard {
  position: relative;
  padding: 10px;
  height: 100px;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  margin-bottom: 10px;
  margin-top: 5px;
}

.studentName {
  font-size: 1.7em;
  font-weight: 400;
  margin-bottom: 12px;
}

.studentProgressCircle {
  position: absolute;
  right: 0;
  top: -25px;
}

.assignmentProgress {
  right: 100px;
}

.circlePercentage {
  position: absolute;
  top: 66px;
  width: 150px;
  text-align: center;
}

/* -----------------------------------------
  StudentEventList
----------------------------------------- */
.StudentEventsContainer {
  background-color: #2a2c33;
  margin: 20px auto;
  padding: 10px;
  width: 1300px;
  height: 250px;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  display: block;
  flex-direction: column;
}

.eventItem {
  cursor: pointer;
  padding: 10px;
}

.eventItem:hover {
  /* background-color: rgb(70, 75, 85); */
  border-radius: 5px;
}

/* -----------------------------------------
  StudentEvent
----------------------------------------- */
.eventCard {
  background-color: #3f4147;
  margin: 0 auto;
  padding: 10px;
  width: 80%;
  height: 150px;
  border-radius: 5px;
  grid-column-start: 1;
  grid-row-start: 2;
}

/* -----------------------------------------
  StudentAssignmentsContainer/StudentAssignmentList
----------------------------------------- */
.assignmentContainer {
  display: grid;
  grid-template-columns: 4fr 6fr;
  margin: 30px auto;
  padding: 0 30px;
  width: 90%;
  height: 500px;
  grid-gap: 50px;
  background-color: #e6e6e6;
}

.selectInstructions {
  color: grey;
}

.assignmentlist {
  grid-column-start: 1;
  background-color: #fff;
  padding: 15px;
  margin: 30px 0;
  overflow: scroll;
  border-radius: 5px;
}

.studentCohortDetails {
  grid-column-start: 1;
  padding: 10px;
  margin: 10px;
}

.noAssignmentSelected {
  padding-top: 30px;
  color: grey;
  text-align: center;
  font-size: 1.5em;
}

.submissionContainer {
  grid-column-start: 2;
  background-color: #fff;
  padding: 15px;
  margin: 30px 0;
  overflow: scroll;
  border-radius: 5px;
}

/* -----------------------------------------
StudentAssignment
----------------------------------------- */

.assignmentItem {
  display: grid;
  grid-template-columns: 2fr 1fr;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
}

.assignmentTitle {
  background-color: inherit;
  text-align: left;
  font-weight: 400;
  font-size: 1.5em;
  padding: 0px 0px 10px 10px;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  color: black;
}

.studentSubmissionContainer {
  margin-top: 10px;
  height: 300px;
  border-radius: 2px;
}

.submissionContent > .date {
  margin-left: 10px;
}

.submissionContent {
  margin: 10px 0 20px 0;
}

.assignmentItem:hover {
  transition: background-color 0.3s;
  background-color: #e6e6e6;
  border-radius: 5px;
}

.assignmentItemDetails {
  width: 200px;
  grid-column-start: 1;
}

.studentSubmissionStatus {
  display: grid;
  width: 180px;
  grid-column-start: 2;
  /* padding-top: 7px; */
  height: 80%;
  grid-template-columns: 1fr 3fr;
}

.checkmarkContainer {
  grid-column-start: 1;
  width: 50px;
}

.checkmark {
  margin-top: 3px;
  width: 60%;
}

.submissionStatusText {
  padding: 0;
  grid-column-start: 2;
  left: 0;
  height: 80%;
  color: gray;
}

.assignmentBody {
  margin: 10px 10px;
}

/* -----------------------------------------
StudentSubmissionDetails
----------------------------------------- */
.submission {
  position: relative;
}

/* .submission > h2 {
  font-size: 1.3em;
  color: gray;
} */

.submissionDetails {
  margin-bottom: 20px;
}

.submissionDetails > .date {
  margin-left: 10px;
}

.deleteSubmissionButton {
  position: absolute;
  display: inline-block;
  opacity: 1;
  transition: opacity 0.3s;
  border-radius: 3px;
  cursor: pointer;
  top: -45px;
  right: 15px;
  height: 25px;
  margin: 40px auto 30px 0;
  padding: 5px 5px;
  background-color: #e6e6e6;
}

.deleteSubmissionButton:hover {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.editSubmissionButton {
  position: absolute;
  background-color: #363941;
  transition: background-color 0.4s;
  border: none;
  cursor: pointer;
  top: -5px;
  right: 65px;
  height: 25px;
  padding: 6px;
  display: inline-block;
  border-radius: 3px;
}

.editSubmissionButton:hover {
  background-color: rgb(70, 75, 85);
  transition: background-color 0.4s;
}

.submissionBody {
  margin: 10px;
}

.submitEditButton {
  margin: 30px auto;
  margin-left: 0;
  padding-left: 0;
  cursor: pointer;
  padding: 5px 10px;
  background-color: rgb(0, 182, 125);
  border: none;
  transition: background-color 0.4s;
  border-radius: 2px;
  font-size: 1.1em;
  text-align: center;
  grid-column-start: 1;
  grid-row-start: 3;
}

.submitEditButton:hover {
  background-color: rgba(0, 182, 125, 0.5);
  transition: background-color 0.4s;
}

.cancelButton {
  transform: translateX(120px);
  left: 100px;
  margin: 30px auto;
  margin-left: 0;
  padding-left: 0;
  cursor: pointer;
  padding: 5px 10px;
  background-color: rgb(134, 134, 134);
  border: none;
  transition: background-color 0.4s;
  border-radius: 2px;
  font-size: 1.1em;
  text-align: center;
  grid-column-start: 1;
  grid-row-start: 3;
}

.cancelButton:hover {
  background-color: rgb(87, 87, 87);
  transition: background-color 0.4s;
}

.studentComments > .sectionTitle {
  font-size: 1.3em;
  color: gray;
}

.adminName {
  margin-left: 10px;
}

.studentSubmissionURLInput {
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px 5px;
  transition: border 0.5s;
  background-color: #e6e6e6;
}
.studentSubmissionURLInput:focus {
  border: 1px solid #f6744e;
  transition: border 0.5s;
}
.studentSubmissionURLInput::placeholder {
  color: gray;
}

/* -----------------------------------------
StudentNavBar
----------------------------------------- */

/* -----------------------------------------
    Other Event Styles
----------------------------------------- */

.eventDetails > .sectionTitle {
  font-weight: 400;
  font-size: 1.5em;
}

.eventDetails > .date {
  margin-left: 10px;
}
