* {
  text-align: center;
  background-color: #0D1118;
  color: white;
  letter-spacing: 2px;
}

.container_large {
  background-color: #232F41;
  margin: auto;
  margin-top: 250px;
  width: 35%;
  border-radius: 2px;
}


/* FORM STYLING */

form > h2 {
  padding-top: 20px;
  background-color: inherit;
}
label {
  display: block;
  padding: 5px 0;
  background-color: inherit;
}

input {
  border: 1px solid black;
  border-radius: 2px;
}

.submit {
  margin: 20px 0;
  cursor: pointer;
  padding: 7px 12px;
  background-color: #DD3D0F;
  border: none;
  opacity: 1;
  transition: opacity 0.4s;
  border-radius: 2px;
}

.submit:hover {
  opacity: 0.5;
  transition: opacity 0.4s;
}

form > p {
  padding-bottom: 20px;
  background-color: inherit;
}

p > a {
  text-decoration: none;
  background-color: inherit;
  color: #DD3D0F;
  opacity: 1;
  transition: opacity 0.4s;
}

p > a:hover {
  opacity: 0.5;
  transition: opacity 0.4s;
}

/* FORM END */
