* {
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

h1 {
  padding: 20px 0;
  text-align: center;
}

li {
  list-style: none;
  text-align: left;
}

p {
  background-color: inherit;
  color: white;
}

a {
  text-decoration: none;
  background-color: inherit;
}

input,
textarea,
select {
  background-color: #212229;
}

ul {
  padding: 0;
}

.btn_hover > button {
  color: #fc6404;
  border: 5px solid green;
}

svg {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

select {
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px 5px;
  transition: border 0.5s;
}

select:focus {
  border: 1px solid #f6744e;
  transition: border 0.5s;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

option::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
